.box_decor{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fce4ec 0%, #f8bbd0 50%, #ffffff 100%);
}
.box_decor-img{
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD1B0;
    min-height: 100vh;
    background-image: url(../../../assets/imgs/bgLogin.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50% 80%;
}
.box_form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 600px;
}
.box_form-card{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    padding: auto;
}