.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../../assets/imgs/bgRegister.png);
    background-repeat: no-repeat;
}

.box_form-card {
    width: 500px;
    border-radius: 20px;
    /* background: linear-gradient(to right,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0)
        ); */
}