.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        /* lớp phủ mờ */
        url(../../../assets/imgs/bgResetPassword.jpg) center/cover no-repeat;
    /* ảnh nền */
}

.boxForm {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    /* hiệu ứng mờ nền phía sau */
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    /* bóng mềm */
    padding: 24px;
}

/* .boxForm:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
} */