
/* overwrite các biến css của antd để sử dụng trong theme.css */
/* :root {
  --ant-primary-color: #13c2c2;
  --ant-success-color: #52c41a;
  --ant-warning-color: #faad14;
  --ant-error-color: #ff4d4f;
  --ant-info-color: #1677ff;
} */
