.boxSlide{
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 32px;
}
.boxSlide_img{
    width: 100%;
    height: 378px;
    object-fit: cover;
     border-radius: 10px;
}
.boxSlideInfo{
    position: absolute;
    top: 50px;
    left: 80px;
}
